<h1>App</h1>
<app-header></app-header>

<router-outlet></router-outlet>

<ul *ngFor="let value of values">
    <li>{{value.id}} - {{value.name}} - {{value.description}}</li>
</ul>


<div *ngIf="isVipClient; else NotVipClient">
    <h1>Gratz! You are a vip client!</h1>
</div>
<br>
<ng-template #NotVipClient>
    You aren't a vip client, sorry!
</ng-template>
<br>
<button (click)="ChangeVipStatus()">Change Vip Status</button>
<br>
<h2>Add Item List</h2>
<label>Name</label>
<br>
<input [(ngModel)]="value.name" />
<br>
<label>Description</label>
<br>
<input [(ngModel)]="value.description" />
<br>

<button (click)="AddItem()">Add item</button>