<h1>App</h1>
<app-header></app-header>

<router-outlet></router-outlet>

<ul>
    <li>Item 1 - {{description1}}</li>
    <li>Item 2</li>
</ul>

<label>Name</label>
<br>
<input [(ngModel)]="value.name" />

<label>Description</label>
<br>
<input [(ngModel)]="value.description" />
<br>
<div *ngIf="isVipClient; else NotVipClient">
    <h1>Gratz! You are a vip client!</h1>
</div>
<br>
<ng-template #NotVipClient>
    You aren't a vip client, sorry!
</ng-template>

<button onclick="{isVipClient}">Change vip status</button>